<div id="section-{{ section.id }}" class="{% unless section.settings.show_on_desktop %} medium--hide large--hide{% endunless %} {{ section.settings.section_style }}{% unless section.settings.show_on_mobile %} small--hide{% endunless %}" data-section-id="{{ section.id }}" data-section-type="profile-text-section">
  <div class="{%- if section.settings.padding_section -%}box{%- endif -%}">
    <div class="wrapper{{ section.settings.wrapper_size }}">
      {%- if section.blocks.size > 0 -%}
        <div class="grid grid-spacer">
					{%- for block in section.blocks -%}
            <div class="profile__item" >
							{% if block.settings.title != blank %}
								<h2 class="h1 profile-title">{{block.settings.title}}</h2>
							{% endif %}
              {%- if block.settings.code != blank -%}
                <div class="{{ block.settings.text_alignment }}">
                  {{ block.settings.code }}
                </div>
              {%- else -%}
                <div class="text-center">
                  {{ 'home_page.onboarding.no_content' | t }}
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}

      {%- if section.blocks.size == 0 -%}
        {%- render 'no-blocks' -%}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Profile-Text",
	  "class": "profile-text-section",
    "max_blocks": 2,
	  "settings": [
      {
        "type": "checkbox",
        "id": "show_on_desktop",
        "label": "t:sections.custom_html.settings.show_on_desktop.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_on_mobile",
        "label": "t:sections.custom_html.settings.show_on_mobile.label",
        "default": true
      },
	    {
        "type": "checkbox",
        "id": "padding_section",
        "label": "Add More Padding",
		    "default": true
      },
      {
        "type": "select",
        "id": "section_style",
        "label": "t:sections.custom_html.settings.section_style.label",
        "default": "section-blank",
        "options": [
          {
            "value": "section-blank",
            "label": "t:sections.custom_html.settings.section_style.options__1.label"
          },
		      {
            "value": "section-default",
            "label": "t:sections.custom_html.settings.section_style.options__2.label"
          },
          {
            "value": "section-border",
            "label": "t:sections.custom_html.settings.section_style.options__3.label"
          }
        ]
      },
	    {
        "type": "select",
        "id": "wrapper_size",
        "label": "t:sections.custom_html.settings.wrapper_size.label",
		    "default": "",
        "options": [
		      {
            "value": "",
            "label": "t:sections.custom_html.settings.wrapper_size.options__1.label"
          },
	        {
            "value": "-fluid",
            "label": "t:sections.custom_html.settings.wrapper_size.options__2.label"
          },
		      {
            "value": "-full",
            "label": "t:sections.custom_html.settings.wrapper_size.options__3.label"
          }
        ]
      }
	  ],
    "blocks": [
      {
        "type": "Profile-Text",
        "name": "Profile text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.custom_html.blocks.html.settings.block_name.label",
            "info": "t:sections.custom_html.blocks.html.settings.block_name.info"
          },
          {
            "type": "richtext",
            "id": "code",
            "label": "t:sections.custom_html.blocks.html.settings.html_code.label",
			      "default": "<p>This section can be used to code your own custom layout</p>"
          },
		      {
            "type": "select",
            "id": "text_alignment",
            "label": "t:sections.custom_html.blocks.html.settings.text_alignment.label",
            "default": "text-center",
            "options": [
              {
                "value": "text-left",
                "label": "t:sections.custom_html.blocks.html.settings.text_alignment.options__1.label"
              },
              {
                "value": "text-center",
                "label": "t:sections.custom_html.blocks.html.settings.text_alignment.options__2.label"
              },
              {
                "value": "text-right",
                "label": "t:sections.custom_html.blocks.html.settings.text_alignment.options__3.label"
              },
               {
                "value": "text-justify",
                "label": "t:sections.custom_html.blocks.html.settings.text_alignment.options__4.label"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Profile-Text",
        "category": "profile text main",
        "blocks": [
          {
            "type": "Profile-Text"
          }
        ]
      }
    ]
  }
{% endschema %}